<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title title="Mercado liebre">Mercado Liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            <div class="top-header">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre" class="logo"></a>
               
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <div class="burger-menu">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <nav class="main-navbar">
                <div class="search">
                    <p><input class="search-bar" placeholder="buscar productos, marcas y mas"></input></i></p>
                </div>
                <ul class="first-ul">
                    <li><a href="#" class="l1">Ofertas</a></li>
                    <li><a href="#" class="l2">Tiendas Oficiales</a></li>
                    <li><a href="#" class="l3">Vender</a></li>
                    <li><a href="#" class="l4">Ayuda</a></li>
                </ul>
                <ul class="second-ul">
                    <li><a href="/register" class="l5">Creá tu cuenta <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/login" class="l6">Ingresá <i class="fas fa-user-check"></i></a></li>
                    <li><a href="#" class="l7">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>
    
        </header>
        <section>
                <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas" class="banner">
        </section>
        <main class="main">
            <h3 class="titles">Basado en tu última visita</h3>

            <section class="sections products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$6.770 </p>
                            <p class="discount"> 40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                   <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$230.000 </p>
                            <p class="discount"> 20% off</p>
                    </div>
                   </div>
                    <h4 class="description">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$70.500 </p>
                            <p class="discount"> 10% off</p>
                        </div>
                    </div>
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$23.200 </p>
                            <p class="discount"> 5% off</p>
                        </div>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </article>
            </section>
            <h3 class="titles">Ofertas</h3>      
            <section class="sections" class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                         <p class="price">$6.770 </p>
                         <p class="discount"> 40% off</p>
                        </div>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </article>
               <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img"> 
                    <div class="main-article">
                        <i class="fas fa-truck"></i>            
                        <div class="box-price">
                            <p class="price">$230.000 </p>
                            <p class="discount"> 20% off</p>
                         </div>
                    </div>
                    <h4 class="description">MacBook Pro 2019</h4>
               </article>
               <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price"> 
                            <p class="price">$70.500 </p>
                            <p class="discount"> 10% off</p>
                        </div>
                    </div>             
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
               </article>
               <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$23.200 </p>
                            <p class="discount"> 5% off</p>
                        </div>
                    </div>      
                    <h4 class="description">SmartTv Samsung 43"</h4>
               </article>
            </section>
        </main>
        <footer class="footer">
            <div class="div-footer">
                <div class="icon-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Paga con tarjeta de credito</h3>
                <p>Lorem ipsum dolor sit amet consectetur <br>
                adipisicing elit. Totam cupiditate officia illum asperiores, <br>
                maiores corporis ab accusamus fugit! Nihil, quam.</p>
            </div>

           <div class="div-footer">
            <div class="icon-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envio gratis desde $2.500</h3>
            <p>Lorem ipsum dolor sit amet consectetur <br>
            adipisicing elit. Totam cupiditate officia illum asperiores, <br>
            maiores corporis ab accusamus fugit! Nihil, quam.</p>

           </div>
           <div class="div-footer">
            <div class="icon-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Paga con tarjeta de credito</h3>
            <p>Lorem ipsum dolor sit amet consectetur <br>
            adipisicing elit. Totam cupiditate officia illum asperiores, <br>
            maiores corporis ab accusamus fugit! Nihil, quam.</p>
           </div>
               
        </footer>
        <div class="copyrigth">
            <p><span>&copy </span>Mercado liebre 1999-2021 todos los derechos reservados</p>
           </div>        
    </body>
</html>