@media (max-width: 361px) {
    .logo{
        width: auto;
    }
    .search{
        display: none;
    }
}

@media (min-width: 361px) {
    .description {
        display:block; /* hacer ver un elemento que antes no se mostraba */
    }
    main section div .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    main section div .products{
        width: 45%;
        opacity: 1;
    }  

    main section article .description{
        color: transparent;
    }
    main section article:hover .description{
        color: #666;
        opacity: 1;
        transition: all 1s;
        
    }
    .titles{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    .search{
        text-align: center;
    }
}  

@media (min-width: 768px){
    .top-header{
        display: flex;
        justify-content: space-between;
        margin: 0px 20px 10px 20px;
        
    }
    .search{
        margin-top: -17px;
    }
    .cuotas{
        max-width: 350px;
        text-align: right;
        margin-top: 17px;
    }
    .logo{
        margin-top: 7px;
    }
    .burger-menu{
        display: none;
    }
    .header > nav{
        display: flex;
        justify-content: space-around;
    }
    .search-bar{
        align-self: center;
        margin-top: 25px;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 6px 12px;
    }
    .first-ul{
        margin-right: 2px;
    }
    .sections{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    main article{
        position: relative;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .div-footer{
        margin: 30px;
        align-items: center;
    }
}

@media (min-width: 1200px){
    .top-header, .main-navbar{
        max-width: 1200px;
        margin: auto; /* centra elementos de bloque */
    }
    .top-header{
        align-items: center;
    } 
    .main-navbar li{
        margin:  10px;
        margin-top: 20px;
    }
    .main-navbar a{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .cuotas{
        margin: 0;
        max-width: none;
        font-size: 24px;
        font-weight: 400;
    }
    .logo{
        width: 250px;
    } 

    /* body */
    .products{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .search{
 margin-top: 0.5px;
    }
}

