<!DOCTYPE html>
<html>
        <!-- head --> 
    <% include('partials/head') %> 
        <!-- head --> 
    <body>
    <!-- header -->
    <% include('partials/header') %> 
    <!-- header -->
        <section>
                <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas" class="banner">
        </section>
        <main class="main">
            <h3 class="titles">Basado en tu última visita</h3>

            <section class="sections products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$6.770 </p>
                            <p class="discount"> 40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                   <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$230.000 </p>
                            <p class="discount"> 20% off</p>
                    </div>
                   </div>
                    <h4 class="description">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$70.500 </p>
                            <p class="discount"> 10% off</p>
                        </div>
                    </div>
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$23.200 </p>
                            <p class="discount"> 5% off</p>
                        </div>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </article>
            </section>
            <h3 class="titles">Ofertas</h3>      
            <section class="sections" class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                         <p class="price">$6.770 </p>
                         <p class="discount"> 40% off</p>
                        </div>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </article>
               <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img"> 
                    <div class="main-article">
                        <i class="fas fa-truck"></i>            
                        <div class="box-price">
                            <p class="price">$230.000 </p>
                            <p class="discount"> 20% off</p>
                         </div>
                    </div>
                    <h4 class="description">MacBook Pro 2019</h4>
               </article>
               <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price"> 
                            <p class="price">$70.500 </p>
                            <p class="discount"> 10% off</p>
                        </div>
                    </div>             
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
               </article>
               <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="price">$23.200 </p>
                            <p class="discount"> 5% off</p>
                        </div>
                    </div>      
                    <h4 class="description">SmartTv Samsung 43"</h4>
               </article>
            </section>
        </main>
        <!-- footer -->
        <% include('partials/footer') %> 
        <!-- footer -->
    </body>
</html>