<!DOCTYPE html>
<html lang="en">
        <!-- head --> 
        <% include('partials/head') %> 
        <!-- head --> 
<body>
       <!-- header -->
       <% include('partials/header') %> 
       <!-- header -->
        <main>
            <form method="post" enctype="multipart/form-data" class="register-form">
                <!-- enctype="multipart/form-data" si el formulario incluye mas que solo texto-->

               <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </div>

                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <button type="submit" value="ingresar" class="button_slide slide_right button1">Enviar!</button>
                <button type="reset" value="Borrar" class="button_slide slide_right">Borrar</button>

            </form>
        </main>
         <!-- footer -->
         <% include('partials/footer') %> 
         <!-- footer -->
</body>
</html>