<!DOCTYPE html>
<html lang="en">
        <!-- head --> 
        <% include('partials/head') %> 
        <!-- head --> 
<body>
    <!-- header -->
    <% include('partials/header') %> 
    <!-- header -->
        <main>
            <form method="post" enctype="multipart/form-data" class="register-form">
                <!-- enctype="multipart/form-data" si el formulario incluye mas que solo texto-->

                <div class="form-control">
                    <label for="name">Nombre y apellido</label>
                    <input type="text" name="name" id="name" required>
                </div>

               <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </div>

                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="form-control">
                    <label for="password">repetir contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="form-control">
                    <label for="date">fecha de nacimiento</label>
                    <input type="date" name="date" id="date" required>
                </div>

                <br>

                <div class="form-control user">
                    <label for="perfil">Usuario</label>
                    <select name="perfil" id="perfil" required>
                        <option value="" disabled selected>Select an option:</option>
                        <option value="comprador">Comprador</option>
                        <option value="vendedor">Vendedor</option>
                    </select>
                </div>

                <div class="form-control interests" aria-required="true">
                    <p class="interestCategories">Categorias de interes</p>
                    <input type="checkbox" name="interest" id="electronic" value="electronic" ><label for="electronic">electronica</label>
                    <input type="checkbox" name="healthy" id="healthy" value="healthy" ><label for="healthy">salud</label>
                    <input type="checkbox" name="interest" id="clothes" value="clothes" ><label for="clothes">moda</label>
                </div>      

                <div class="form-control avatar">
                    <label for="avatar">Avatar</label>
                    <input type="file" name="avatar" id="avatar">
                </div> 


                <button type="submit" value="Registrarse" class="button_slide slide_right button1">Registrarse!</button>
                <button type="reset" value="Borrar" class="button_slide slide_right">Borrar</button>

            </form>
        </main>
        <!-- footer -->
        <% include('partials/footer') %> 
        <!-- footer -->
</body>
</html>