<footer class="footer">
    <div class="div-footer">
        <div class="icon-footer">
            <i class="fas fa-credit-card"></i>
        </div>
        <h3>Paga con tarjeta de credito</h3>
        <p>Lorem ipsum dolor sit amet consectetur <br>
        adipisicing elit. Totam cupiditate officia illum asperiores, <br>
        maiores corporis ab accusamus fugit! Nihil, quam.</p>
    </div>

   <div class="div-footer">
    <div class="icon-footer">
        <i class="fas fa-gift"></i>
    </div>
    <h3>Envio gratis desde $2.500</h3>
    <p>Lorem ipsum dolor sit amet consectetur <br>
    adipisicing elit. Totam cupiditate officia illum asperiores, <br>
    maiores corporis ab accusamus fugit! Nihil, quam.</p>

   </div>
   <div class="div-footer">
    <div class="icon-footer">
        <i class="fas fa-user-shield"></i>
    </div>
    <h3>Paga con tarjeta de credito</h3>
    <p>Lorem ipsum dolor sit amet consectetur <br>
    adipisicing elit. Totam cupiditate officia illum asperiores, <br>
    maiores corporis ab accusamus fugit! Nihil, quam.</p>
   </div>
       
</footer>
<div class="copyrigth">
    <p><span>&copy </span>Mercado liebre 1999-2021 todos los derechos reservados</p>
   </div>        