<header class="header">
    <div class="top-header">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre" class="logo"></a>
       
        <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <div class="burger-menu">
        <a href="#">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <nav class="main-navbar">
        <div class="search">
            <p><input class="search-bar" placeholder="buscar productos, marcas y mas"></input></p>
        </div>
        <ul class="first-ul">
            <li><a href="#" class="l1">Ofertas</a></li>
            <li><a href="#" class="l2">Tiendas Oficiales</a></li>
            <li><a href="#" class="l3">Vender</a></li>
            <li><a href="#" class="l4">Ayuda</a></li>
        </ul>
        <ul class="second-ul">
            <li><a href="/users/register" class="l5">Creá tu cuenta <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/users/login" class="l6">Ingresá <i class="fas fa-user-check"></i></a></li>
            <li><a href="#" class="l7">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
        </ul>
    </nav>

</header>